tp2/punto3/serie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="tipoCodigo">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z][0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoGeneroSerie">
        <xs:restriction base="xs:string">
            <xs:enumeration value="acción"/>
            <xs:enumeration value="drama"/>
            <xs:enumeration value="ciencia ficción"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoGeneroPersonaje">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="O"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoRolPersonaje">
        <xs:restriction base="xs:string">
            <xs:enumeration value="principal"/>
            <xs:enumeration value="secundario"/>
            <xs:enumeration value="reparto"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="serie">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="personajes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="personaje" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="género" type="tipoGeneroPersonaje"/>
                                        <xs:element name="descripción" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required"/>
                                    <xs:attribute name="tipo" type="tipoRolPersonaje" default="principal"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="trama" type="xs:string"/>

                <xs:element name="hashtag" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="nombre" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>

            <xs:attribute name="cod" type="tipoCodigo" use="required"/> <xs:attribute name="título" type="xs:string" use="required"/> <xs:attribute name="género" type="tipoGeneroSerie" use="optional"/> </xs:complexType>
    </xs:element>

</xs:schema>